@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');

/* width */
::-webkit-scrollbar {
    width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
    background: ##620024;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #521616;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #338c00;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

:root {
    --mainFont: 'Rozha One', serif;
}


body {
    background-color: rgb(0, 0, 0);
}

.wrap {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

section {
    height: 100vh;
    position: relative;
}

nav {
    width: 100%;
    height: 5rem;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    /* position: relative; */
    top: 0;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    transition: ease 0.4s;

}

nav h2 {
    float: left;
    color: white;
    padding: 1rem;
    font-family: var(--mainFont);
    font-size: 3rem;
    transition: all .3s linear;
}

nav h2:hover {
    background: white;
    color: black;
    border-radius: 4px;
}

nav ul {
    padding: 1rem;
}



nav a {
    margin-left: 3rem;
    color: white;
    font-size: 21px;
    font-family: var(--mainFont);
    text-decoration: none;
    animation: nav-ul 1s linear;
    transition: all .3s ease;
    position: relative;

}

nav a:hover {
    /* background: white;
    color: black;
    padding: .5rem 1rem;
    border-radius: 4px; */

}

nav a::before, nav p::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    transition: width 0.25s ease-out;
    background: white;

}

nav a:hover::before, nav p:hover::before {
    width: 20%;
    right: auto;
    background: white;

}

nav p {
    margin-right: 1rem;
    color: white;
    font-size: 18px;
    font-family: var(--mainFont);
    /* padding: 1rem; */
    position: relative;
}

.hero {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

}

.hero a {
    background-color: white;
    padding: .5rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    position: absolute;
    top: 60%;
    z-index: 100;
    font-family: var(--mainFont);
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    transition: all .2s linear;
    box-shadow: 0px 0px 11px -1px #FFFFFF;
    animation: hero-a 1s cubic-bezier(0, 0, 1, 2.82);
    overflow: hidden;

}

@keyframes hero-a {


    to {}
}

.hero a:hover {
    background: black;
    color: white;
    box-shadow: 0px 0px 0px -1px #FFFFFF;

}



.hero img {
    width: 830px;
    max-width: 100%;
    animation: hero-img 4s ease-in-out forwards;
    z-index: 0;
}

@keyframes hero-img {
    0% {
        opacity: 0, 1;
        transform: scale(0);
    }

    50% {
        opacity: 1;
        transform: scale(1.2);

    }

    100% {
        transform: scale(1);

        opacity: 1;
    }
}


.banderolle {
    width: 100%;
    height: 100px;
    background-color: white;
    position: absolute;
    bottom: -50px;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    white-space: nowrap;
    overflow: hidden;

}

.container-banderolle {
    min-width: 100%;
    animation: run 40s linear infinite;

}


.banderolle span {
    display: inline-block;
    width: auto;
    font-family: var(--mainFont);
    font-size: 5.5rem;
    margin-left: 3rem;


}



@keyframes run {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    100% {
        /* -webkit-transform: translate3d(-100%, 0, 0); */
        transform: translate3d(-100%, 0, 0)
    }
}